src/main/mule/use-sample.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

  <flow name="get-ditto-sample-flow" doc:name="get-ditto-sample-flow">

    <!-- [STUDIO:"Scheduler"]<scheduler doc:name="Scheduler">
      <scheduling-strategy>
        <fixed-frequency frequency="999" timeUnit="DAYS" startDelay="999" />
      </scheduling-strategy>
    </scheduler> [STUDIO] -->

    <set-variable variableName="httpRequestPluginConfig"
      doc:name="Set httpRequestPluginConfig"
      value="#[%dw 2.0&#10;output application/java&#10;---&#10;dwl::httpRequester::configBuilder::buildConfig('https://pokeapi.co/api/v2/pokemon/ditzto', 'GET') ++ &#10;dwl::httpRequester::configBuilder::withRetry(3, 1000, ['HTTP:CONNECTIVITY'], ['404', '500', '502', '503', '504']) ++ &#10;dwl::httpRequester::configBuilder::withCorrelation(correlationId, true) ++ &#10;dwl::httpRequester::configBuilder::withLogging(10240)]" />

    <flow-ref name="http-request-plugin" doc:name="Call http-request-plugin" />

  </flow>

</mule>
